.property-card {
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 5px;
}

.type-city {
  display: flex;
  flex-direction: column;
}

.email {
    border: 2px solid rgba(128, 0, 128, 0.419);
  background-color: rgba(128, 0, 128, 0.419);
  color: white;
  text-decoration: none;
}
