a {
  text-decoration: none;
  /* color: white; */
}

.email a {
  color: white;
}

.property-card {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 2px;
  gap: 5px;
}

.card-item{
  text-decoration: none;
}

.email {
  border: 2px solid rgba(128, 0, 128, 0.419);
  background-color: rgba(128, 0, 128, 0.419);
}
