.individual-properties {
    display: flex;
    flex-flow: wrap;
}

.col {
    border: 2px solid purple;
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    padding: 0.5rem;
    margin: 10px;
}
