a { 
    color: black;
    font-weight: bold;
}

.sidebar {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: white;
    border-bottom: gray;
    align-items: left;
    gap: 5px;
}
